USE [master]
GO
/****** Object:  Database [DbUnversity1]    Script Date: 11/11/2021 11:45:03 AM ******/
CREATE DATABASE [DbUnversity1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbUnversity1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DbUnversity1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DbUnversity1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DbUnversity1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbUnversity1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbUnversity1]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 11/11/2021 11:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentId] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Roll] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Students] ([StudentId], [Name], [Roll]) VALUES (1, N'Phuong', N'22')
INSERT [dbo].[Students] ([StudentId], [Name], [Roll]) VALUES (2, N'Huy', N'20')
INSERT [dbo].[Students] ([StudentId], [Name], [Roll]) VALUES (3, N'Ky', N'30')
USE [master]
GO
